./RNCourse/node_modules
./RNCourse/.expo/
./04.RNMiniGame/node_modules
./04.RNMiniGame/.expo/
04.RNMiniGame/node_modules
04.RNMiniGame/.expo/

RNMiniGame/node_modules
RNMiniGame/.expo/

RNMealsApp/node_modules
RNMealsApp/.expo/
.vscode